@import "tailwindcss";

@theme {
  --font-display: "Oswald", sans-serif;
  --font-body: "Inter", sans-serif;
}

@utility circle-img {
  border-radius: 9999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility stroke-text {
  -webkit-text-stroke: 1.5px #282C37;
  color: transparent;
}