@import "tailwindcss";

@theme {
  --color-bg: #F9F4F0;
  --color-primary: #F9F4F0;
  --color-white: #FFFFFF;
  --font-display: "Sora", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-mono: "Space Mono", monospace;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: #000000;
  }
}

@utility circle-img {
  border-radius: 9999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility stroke-text {
  -webkit-text-stroke: 1.5px #282C37;
  color: transparent;
}